#!/usr/bin/make -f
# Build cube-example-apps as a Debian package using debhelper's CMake + Ninja buildsystem.

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/architecture.mk

# Enable compiler caching with ccache for CMake
export CMAKE_C_COMPILER_LAUNCHER = ccache
export CMAKE_CXX_COMPILER_LAUNCHER = ccache

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_test:
	@echo "Skipping tests as none are defined for example apps"

